<style>
    #container {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    #welcomeCard {
        padding: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border-radius: 20px;
        width: 600px;
    }
    .text-center {
        text-align: center;
    }
    .center {
        display: flex;
        justify-content: center;
    }
    p {
        font-size: 20px;
        color: gray;
    }
</style>

<div id="container">
<div id="welcomeCard">
    <div class="center"><img src="../assets/shuttle.png" width="50"></div>
    <h1 class="text-center">Benvenuto nel tuo Micro Frontend</h1>
<p class="text-center">Inizia a costruire i tuoi microservizi!</p>
</div>
</div>